html, body {
    /* background-color: black;
    color: white; */
    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 100%; */
}

#footerIcon {
    width: 50px;
}

#headerIcon {
    width: 100px;
    margin: 40px;
}

#headerText {
    font-size: 80px;
}

#footerText {
    font-size: 20px;
}

.footer {
    background-color: rgb(50, 50, 50, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
}

#all {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: 15% 80% 5%; */
    /* display: grid; */
    /* grid-template-columns: 1fr 6fr; */
    /* grid-template-columns: 0.18fr 0.82fr; */
    /* height: 10000%; */
    /* grid-template-rows: 15fr 80fr 5fr;
    grid-template-columns: 100%; */
}


#header {
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

/* .sidebar {
    margin: 0;
    margin-bottom: 0px;
} */

.sidebar {
    background-color: red;
    height: 100%;
}

.center {
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    
    /* height: 100%; */
    /* height: 100%; */
    /* display: grid; */
    /* grid-template: max-content max-content  / 25% 75%; */
    /* grid-template: 80px 200px / auto auto; */
    /* grid-template-columns: 25% 75%; */
    /* height: 100%; */
    /* grid-template-rows: repeat(n, minmax(auto, 1fr)); */
    /* grid-template-rows: 150% 150%; */

    /* min-height: 100%; */
}


.center {
    display: flex;
    /* min-height: calc(100vh - 104px - 48px); */
    /* flex-direction: column; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
  /* navbar support */
  min-height: calc(100vh - 104px - 48px); /*  - header_height - footer_height */
}


.content {
    background-color: blue;
}

